<tr id="<%= dom_id(option_trade) %>" class="clickable-row <%= 'closed-trade' if option_trade.close_date.present? %>" onclick="window.location='<%= option_series_path(option_code: option_trade.option_code) %>'" style="cursor: pointer;">
  <td><%= option_trade.trade_date.strftime('%d/%m/%y') %></td>
  <td>
    <span class="trade-badge <%= option_trade.operation_type %>">
      <%= option_trade.operation_type == 'buy' ? 'COMPRA' : 'VENDA' %>
    </span>
  </td>
  <td class="trade-code"><%= option_trade.option_code %></td>
  <td>
    <span class="trade-badge <%= option_trade.option_type %>">
      <%= option_trade.option_type.upcase %>
    </span>
  </td>
  <td><%= option_trade.quantity %></td>
  <td>R$ <%= number_to_currency(option_trade.strike_price, unit: '', precision: 2, separator: ',') %></td>
  <td class="trade-net-premium">R$ <%= number_to_currency(option_trade.premium || 0, unit: '', precision: 2, separator: ',') %></td>
  <td class="trade-yield"><%= option_trade.premium_yield.present? ? "#{number_with_precision(option_trade.premium_yield, precision: 2, separator: ',')}%" : '-' %></td>
  <td class="trade-total">R$ <%= number_to_currency(option_trade.net_premium * option_trade.quantity, unit: '', precision: 2, separator: ',') %></td>
  <td><%= option_trade.expiration_date.strftime('%d/%m/%y') %></td>
  <td class="trade-notional">R$ <%= number_to_currency(option_trade.strike_price * option_trade.quantity, unit: '', delimiter: '.', precision: 2, separator: ',') %></td>
</tr>
